<app-header></app-header>
<h2 class="m-3">Registrar visita</h2>
<div class="card">
    <div class="card-body">
        <form [formGroup]="form" class="mb-2">
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="nombres" class="form-label">Nombre(s) *</label>
                    <input formControlName="nombres" type="text" class="form-control" id="inputName" placeholder="Juan">
                </div>
                <div class="col-6">
                    <label for="apellidoPaterno" class="form-label">Apellido paterno *</label>
                    <input formControlName="apellidoPaterno" placeholdertype="text" class="form-control" id="inputName" placeholder="Martinez">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="apellidoMaterno" class="form-label">Apellido materno</label>
                    <input formControlName="apellidoMaterno" placeholdertype="text" class="form-control" id="inputName" placeholder="Peréz">
                </div>
                <div class="col-6">
                    <label for="tipoIdentif" class="form-label">Tipo de identificación *</label>
                    <select class="form-control" id="tipoIdentif" formControlName="tipoIdent">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let ident of tiposIdent; let i=index" value="{{ident}}">{{ident}}</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="NoIdent" class="form-label">No. identificación *</label>
                    <input formControlName="noIdent" placeholdertype="text" class="form-control" id="inputName"
                        placeholder="No. identificación">
                </div>
                <div class="col-6">
                    <label for="telefono" class="form-label">Teléfono *</label>
                    <input formControlName="telefono" type="tel" class="form-control" placeholder="0000000000">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="correo" class="form-label">Correo</label>
                    <input formControlName="correo" placeholdertype="text" class="form-control" id="inputName"
                        placeholder="juan@correo.com">
                </div>
                <div class="col-6">
                    <label for="direccion" class="form-label">Dirección *</label>
                    <input formControlName="direccion" placeholdertype="text" class="form-control" id="inputName"
                        placeholder="Dirección">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="oficina" class="form-label">¿A qué oficina se dirige? *</label>
                    <select class="form-control" id="oficina" formControlName="oficina">
                      <option value="">Selecciona una opción</option>
                      <option *ngFor="let of of oficinas; let i=index" value="{{of.nombre}}">{{of.nombre}}</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="motivo" class="form-label">Motivo de la visita *</label>
                    <input formControlName="motivo" placeholdertype="text" class="form-control" id="inputName" placeholder="Motivo">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                <label for="identFrontal" class="form-label">Foto identificación frontal</label><br>
                <input #idFrontal type="file" accept="image/png, image/jpeg"/>
            </div>
            <div class="col-6">
                <label for="identTrasera" class="form-label">Foto identificación trasera</label><br>
                <input #idTrasera type="file" accept="image/png, image/jpeg"/>
            </div>
            </div>
        </form>
        <div class="mt-3 d-flex">
            <button [disabled]="disabledRegistrarButton" class="btn button btn-primary w-25 m-auto" (click)="registrar()">Registrar</button>
        </div>
    </div>

</div>
