<nav class="navbar navbar-light justify-content-between px-4">
  <a class="navbar-brand text-white">Consulta</a>
  <button (click)="cerrarSesion()" class="btn my-2 my-sm-0 text-white">Cerrar sesión</button>
</nav>
<div class="card">
  <div class="card-body">
    <div class="mb-5 mt-4">
      <label class="form-label">Folio</label>
      <div class="row">
        <div class="col-10">
          <form [formGroup]="form">
            <input formControlName="folio" type="number" class="form-control" id="inputFolio">
          </form>
        </div>
        <div class="col-2">
          <button (click)="buscar()" class="btn button btn-primary">Consultar</button>
        </div>
      </div>
    </div>
    <div *ngIf="mostrarNoHayVisita">
      <h4>No hay ninguna visita con ese folio, reintente.</h4>
    </div>
    <div *ngIf="mostrarVisita">
      <div class="mb-3 row">
        <div class="col-6">
          <label class="form-label">Nombre(s)</label>
          <input [value]="visita.nombres" type="text" class="form-control" id="inputName" placeholder="Juan" readonly>
        </div>
        <div class="col-6">
          <label class="form-label">Apellido paterno</label>
          <input [value]="visita.apellidoPaterno" placeholdertype="text" class="form-control" id="inputName" placeholder="Martinez" readonly>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label class="form-label">Apellido materno</label>
          <input [value]="visita.apellidoMaterno" placeholdertype="text" class="form-control" id="inputName" placeholder="Peréz" readonly>
        </div>
        <div class="col-6">
          <label class="form-label">Tipo de identificación</label>
          <input [value]="visita.tipoIdentificacion" class="form-control" id="inputName" placeholder="Tipo" readonly>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label class="form-label">No. identificación</label>
          <input [value]="visita.NoIdentificacion" placeholdertype="text" class="form-control" id="inputName" placeholder="No. identificación" readonly>
        </div>
        <div class="col-6">
          <label class="form-label">Teléfono</label>
          <input [value]="visita.telefono" type="tel" class="form-control" placeholder="0000000000" readonly>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label class="form-label">Correo</label>
          <input [value]="visita.correo" placeholdertype="text" class="form-control" id="inputName" placeholder="juan@correo.com" readonly>
        </div>
        <div class="col-6">
          <label class="form-label">Dirección</label>
          <input [value]="visita.direccion" placeholdertype="text" class="form-control" id="inputName" placeholder="Dirección" readonly>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label class="form-label">¿A qué oficina se dirige?</label>
          <input [value]="visita.oficinaQueVisita" placeholdertype="text" class="form-control" id="inputName" placeholder="Oficina" readonly>
        </div>
        <div class="col-6">
          <label class="form-label">Motivo de la visita</label>
          <input [value]="visita.motivo" placeholdertype="text" class="form-control" id="inputName" placeholder="Motivo" readonly>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label for="identFrontal" class="form-label">Foto identificación frontal</label><br>
          <img class="w-75 rounded mx-auto d-block" [src]="imagePath1">
        </div>
        <div class="col-6">
          <label for="identTrasera" class="form-label">Foto identificación trasera</label><br>
          <img class="w-75 rounded mx-auto d-block" [src]="imagePath2">
        </div>
      </div>
    </div>
  </div>

</div>
