<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="index.html">
    <div class="box">
        <h1>Registro de visitas</h1>

        <input type="text" id="nickname" name="nickname" placeholder="usuario" class="input" />

        <input type="password" id="pass" name="pass" placeholder="contraseña" class="input" />

        <button (click)="login()" class="btn" type="button">Entrar</button> <!-- End Btn -->

    </div> <!-- End Box -->

</form>